<a href="https://colab.research.google.com/github/arkari-0/Prmn2023a/blob/main/My_Answer/PythonBasic_4_Question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://colab.research.google.com/github/kiryu-3/Prmn2023/blob/main/Python/Python_Basic/question/PythonBasic_4_Question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 第4章 課題

## 課題1

10から2800まで、10飛ばしの数を乱数で生成し、2220000に足してください。  

この数を5つ生成し、一つのリストに格納した後、最終的に頭に"b"をつけて5つ出力してください。

＜実行結果例＞
``` py  
['b2220400', 'b2221750', 'b2222480', 'b2221720', 'b2220380']
```

In [8]:
# 入力用
import random

bangou=[]

for i in range(5):
  n=random.randrange(10,2800,10)
  m='b'+str(2220000+n)
  bangou.append(m)

print(bangou)

['b2221730', 'b2220890', 'b2222340', 'b2222280', 'b2220260']

## 課題2

1桁の自然数を乱数を使って5つ格納した2つのリストを作ってください。  
この時、一つのリスト内で5つの値が重複しないようにしてください

その後、対応する要素を足し合わせた新しいリストを出力してください

＜実行結果例＞
``` py  
1つ目のリスト：[1, 2, 3, 4, 5]  
2つ目のリスト：[1, 3, 5, 7, 9]  
足し合わせたリスト：[2, 5, 8, 11, 14]
```

In [28]:
# 入力用
for i in range(5):
  list1=random.sample(range(10),5)
for i in range(5):
  list2=random.sample(range(10),5)

print(list1)
print(list2)

list3=[a+b for a,b in zip(list1,list2)]
print(list3)

[2, 7, 5, 0, 4]
[1, 6, 8, 3, 7]
[3, 13, 13, 3, 11]

## 課題3

リストの中身を指定した数で分割してみます。

以下のリストには都道府県47つが格納されています。

In [31]:
todohuken_list = [
    '北海道', '青森県', '岩手県', '宮城県', '秋田県', '山形県', '福島県', '茨城県', '栃木県', '群馬県', 
    '埼玉県', '千葉県', '東京都', '神奈川県', '新潟県', '富山県', '石川県', '福井県', '山梨県', '長野県', 
    '岐阜県', '静岡県', '愛知県', '三重県', '滋賀県', '京都府', '大阪府', '兵庫県', '奈良県', '和歌山県', 
    '鳥取県', '島根県', '岡山県', '広島県', '山口県', '徳島県', '香川県', '愛媛県', '高知県',  '福岡県', 
    '佐賀県', '長崎県', '熊本県', '大分県', '宮崎県', '鹿児島県', '沖縄県',
]

  
これをランダムに1つのリストのサイズを4として分割してください

＜実行結果例＞  
``` py 
[['宮崎県', '茨城県', '栃木県', '千葉県'], … , ['岩手県', '滋賀県', '宮城県']]
```

In [36]:
# 入力用
bunkatsu=[]
random.shuffle(todohuken_list)
for i in range(0,47,4):
  bunkatsu.append(todohuken_list[i:i+4])

print(bunkatsu)

[['香川県', '福島県', '山口県', '広島県'], ['茨城県', '和歌山県', '大分県', '山形県'], ['兵庫県', '徳島県', '北海道', '東京都'], ['千葉県', '宮崎県', '鳥取県', '栃木県'], ['島根県', '福井県', '青森県', '大阪府'], ['三重県', '福岡県', '佐賀県', '鹿児島県'], ['秋田県', '奈良県', '滋賀県', '神奈川県'], ['愛媛県', '岡山県', '岐阜県', '埼玉県'], ['宮城県', '高知県', '長野県', '京都府'], ['群馬県', '沖縄県', '熊本県', '静岡県'], ['愛知県', '山梨県', '岩手県', '富山県'], ['石川県', '新潟県', '長崎県']]

## 課題4

ある大学の名前と年齢が、次のような形式で格納されたリスト `university_list` があります。

In [37]:
university_list = [
    "Chitose,25",
    "Hokudai,105",
    "Muroran,74",
    "Hakodate,23",
]

このリストを、年齢順にソートして、新たなリストとして出力してください

＜実行結果＞  
``` py
['Chitose,25', 'Hokudai,105', 'Muroran,74', 'Hakodate,23']
['Hakodate,23', 'Chitose,25', 'Muroran,74', 'Hokudai,105']
```

In [46]:
# 入力用
print(university_list)

['Chitose,25', 'Hakodate,23', 'Hokudai,105', 'Muroran,74']

## 課題5

**FizzBuzz（フィズ・バズ）問題**という問題について解いていきます。

もともとは、英語圏で長距離ドライブ中や飲み会の時に行われる言葉遊びです。

以下のような問題になります。

1～Nまでの整数を順に出力しなさい。ただし、例外として以下のルールを守ること。

* 3で割り切れる数字の場合は"Fizz"を出力
* 5で割り切れる数字の場合は"Buzz"を出力
* どちらでも割り切れる数字の場合は"FizzBuzz"を出力

ここではN=100として、まずは一つのリストに
"Fizz" か "Buzz" か "FizzBuzz" か "others" を格納してください。

その後、それぞれの要素の数をカウントしてください。

＜実行結果＞  
``` py
FizzBuzzの数：6 
Fizzの数：27 
Buzzの数：14
othersの数：53  
```

In [6]:
# 入力用
N=int(input())
Fizz=0
Buzz=0
FizzBuzz=0
others=0

for i in range(1,N+1):
  if(i%3==0):
    Fizz=Fizz+1 
  if(i%5==0):
    Buzz=Buzz+1
  if(i%3!=0 and i%5!=0):
    others=others+1
  if(i%15==0):
    FizzBuzz=FizzBuzz+1

Fizz=Fizz-FizzBuzz
Buzz=Buzz-FizzBuzz

print(f"FizzBuzzの数：{FizzBuzz} ")
print(f"Fizzの数：{Fizz}")
print(f"Buzzの数：{Buzz}")
print(f"othersの数：{others}")

100
FizzBuzzの数：6
Fizzの数：27
Buzzの数：14
othersの数：53